@import "tailwindcss";

@theme {
  --color-primary-50: #f6fafe;
  --color-primary-100: #ecf3fd;
  --color-primary-200: #d6e6fa;
  --color-primary-300: #b9d3f5;
  --color-primary-400: #9abfed;
  --color-primary-500: #7daae3;
  --color-primary-600: #5d8dc9;
  --color-primary-700: #4670a6;
  --color-primary-800: #355682;
  --color-primary-900: #263f61;
  --color-primary-950: #182840;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}
